@import url(http://fonts.googleapis.com/css?family=Montserrat);

/** {
  outline: 1px solid red;
}*/

body {
  font-family: 'Montserrat', 'sans-serif';
  background-color: #ddf5fe;
}

.header {
  width: 100%;
  background-color: #1179ad;
  height: 60px;
  display: inline-block;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

img {
  height: 30px;
  float: left;
}

.header a:hover {
  color: #83c7e4;
}

#developers {
  color: #83c7e4;
}

#developers:hover {
  color: #ffffff;
}

#start {
  color: #83c7e4;
  background: #005379;
  padding: 5px 15px;
  border-radius: 15px;
}

#start:hover {
  color: #ffffff;
}

.header li{
  display: inline-block;
  margin-right: 10px;
  color: #83c7e4;
}

.header h1{
  float: left;
  margin-top: 15px;
  margin-left: 15%;
  font-size: 25px;
}

.header ul{
  float: right;
  margin-top: 20px;
  margin-right: 20%;
  font-size: 16px;
}

.text h2 {
  text-align: center;
  font-size: 38px;
  margin-top: 80px;
  letter-spacing: -1.5px;
  font-weight: 600;
}

.text p {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  color: #6e8d99;
}

.instructions {
  margin: 0 auto;
  width: 898px;
  margin-top: 40px;
  margin-bottom: 80px;
  clear: both;
}

.steps {
  height: 100%;
  width: 250px;
  float: left;
  margin-left: 24px;
}

.steps:first-child {
  margin-left: 0;
}

.steps h3 {
  text-align: center;
  font-size: 18px;
  color: #1179ad;
  margin-top: 20px;
}

.steps p {
  text-align: center;
  font-size: 15px;
  color: #6e8d99;
  margin-top: 8px;
}

.link {
  text-decoration: underline;
}

.link:hover {
color: #0082b7;
}

.circle {
  height: 185px;
  width: 185px;
  background-color: #1179ad;
  border-radius: 94px;
  margin-left: 25px;

}

.arrow {
  background: url('img/arrow.png');
  background-size: 168px 40px;
  float: left;
  height: 40px;
  width: 168px;
  position: relative;
  top: 75px;
  margin: 0 -48px 0 -70px;
}

.icon {
  height: 100%;
  width: 100%;
  display: block;
}

#scissor {
  background: url('img/scissor.png') no-repeat;
  background-size: 185px 185px;
}

#paper {
  background: url('img/paper.png') no-repeat;
  background-size: 185px 185px;
}
#tv {
  background: url('img/tv.png') no-repeat;
  background-size: 185px 185px;
}

.button {
  clear: both;
  background-color: #45ad3a;
  width: 400px;
  height: 46px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 60px;
}

.button p {
  color: #ffffff;
  font-weight: bold;
  padding: 15px 0;
  letter-spacing: -0.5px;
}

.button a{
  text-decoration: none;
}

.button:hover {
  background-color: #4dbf41;
}

.main {
  clear: both;
  width: 100%;
}

